@import '../mixins';
@import '../variables';

.search-weather {
  @include flex-content;
  flex-direction: $flexColumn;
  width: $width100vw;
  margin-top: $space1rem;

  p {
    font-size: 1.5em;
    color: #253858;
  }

  &__searching {
    @include flex-content;

    .validation-text {
      color: red;
      text-align: center;
      font-size: 1em;
    }

    input {
      height: 40px;
      width: 450px;
    }

    button {
      margin-left: $space1rem;
      padding: 0.2rem 2rem;
      font-weight: 600;
      background: $blueBackground;
      border-color: #395FAA;
    }
  }
}
