@import '../mixins';
@import '../variables';

.weather-cards {
  &__cards {
    display: $displayFlex;
    flex-wrap: $flexWrap;
    width: $width100vw;

    @media (max-width: 939px) {
      display: $displayFlex;
      justify-content: center;
    }

    h1 {
      font-size: 1em;
    }
  }

  &__body {
    @include flex-content;
    flex-direction: $flexColumn;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 2rem;
    margin: 1.08rem;

    @include cards-animation;
  }

  &__info {
    @include flex-content;
    flex-direction: $flexColumn;

    h1 {
      font-size: 1.5em;
    }

    div {
      @include flex-content;

      h1 {
        &:nth-child(2) {
          margin-left: 5px;
          margin-right: 3px;
        }

        &:not(:nth-child(2)) {
          cursor: pointer;
        }
      }
    }

    .is-celsius {
      color: #FF6B00;
      pointer-events: none;
    }

    .is-fahrenheit {
      color: #000;
      pointer-events: auto;
    }
  }

  &__result {
    display: $displayFlex;
    flex-direction: row;

    div {
      display: $displayFlex;
    }

    h1 {
      font-size: 2em;
      margin-top: 2rem;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}
