@import '../mixins';
@import '../variables';

.weather-cards {
  &__cards {
    display: $displayFlex;
    flex-wrap: wrap;
    width: $width100vw;

    @media (max-width: 626px) {
      display: flex;
      justify-content: center;
    }

    h1 {
      font-size: 1em;
    }
  }

  &__body {
    @include flex-content;
    flex-direction: $flexColumn;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 2rem;
    margin: 1.08rem;

    &:nth-child(1n) {
      animation: animate-zoom 0.5s ease-in;

      @keyframes animate-zoom {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    &:nth-child(2n) {
      animation: animate-top 0.7s ease-in;

      @keyframes animate-top {
        0% {
          transform: translateY(-800px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }

    &:nth-child(3n) {
      animation: animate-bottom 0.9s ease-in;

      @keyframes animate-bottom {
        0% {
          transform: translateY(800px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }

  &__info {
    @include flex-content;
    flex-direction: $flexColumn;

    h1 {
      font-size: 1.5em;
    }

    div {
      @include flex-content;

      h1 {
        &:nth-child(2) {
          margin-left: 5px;
          margin-right: 3px;
        }

        &:not(:nth-child(2)) {
          cursor: pointer;
        }
      }
    }

    .is-celsius {
      color: #FF6B00;
      pointer-events: none;
    }

    .is-fahrenheit {
      color: #000;
      pointer-events: auto;
    }
  }

  &__result {
    display: $displayFlex;
    flex-direction: row;

    div {
      display: $displayFlex;
    }

    h1 {
      font-size: 2em;
      margin-top: 2rem;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}
