<div class="weather-cards">
  <div class="weather-cards__cards">
    <div *ngFor="let city of weatherService.cities; let i = index" class="weather-cards__body">
      <div class="weather-cards__info">
        <h1>{{ city.name }}</h1>

        <div>
          <h1 [class]="city.isCelsius ? 'is-celsius' : 'is-fahrenheit'" (click)="isCelsiusHandler(i, true)">
            °C
          </h1>

          <h1>
            /
          </h1>

          <h1 [class]="!city.isCelsius ? 'is-celsius' : 'is-fahrenheit'" (click)="isCelsiusHandler(i, false)">
            °F
          </h1>
        </div>
      </div>

      <div class="weather-cards__result">
        <div *ngIf="city.isCelsius">
          <img [src]="city.temp < 20 ? cloudImg : cloudWithSunImg">
          <h1>{{ city.temp }}°C</h1>
        </div>

        <div *ngIf="!city.isCelsius">
          <img [src]="city.temp < 68 ? cloudImg : cloudWithSunImg">
          <h1>{{ city.temp }}°F</h1>
        </div>
      </div>
    </div>
  </div>
</div>
