@import '../../app.scss';

.page-not-found {
  @include flex-content;
  flex-direction: column;
  margin-top: 3rem;

  &__404 {
    @include flex-content;
    flex-wrap: wrap;

    &__4 {
      @include page-not-found-404;
      background: $primaryColor;
    }

    &__0 {
      @include page-not-found-404;
      background: darkred;
    }

    &__404 {
      @include page-not-found-404;
      background: #7AC673;
    }
  }

  button {
    font-size: 1.5em;
    color: white;
    background: #7AC673;
    border: 1px solid #7AC673;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -5rem;
    height: 40px;
    width: 250px;
    outline: none;
    cursor: pointer;
  }
}
