<div class="search-weather">
  <p>
    Write country name which you want to know the weather
  </p>

  <div>
    <div class="search-weather__searching">
      <input
        class="form-control"
        [textMask]="{mask: searchWeatherService.stringMask, guide: false}"
        [formControl]="weatherService.inputValue"
        (keyup.enter)="searchWeatherService.addCityHandler()"
      />

      <div>
        <button
          class="btn btn-primary"
          (click)="searchWeatherService.addCityHandler()"
          [disabled]="!weatherService.inputValue.value"
        >
          Add
        </button>

        <button
          class="btn btn-primary"
          (click)="searchWeatherService.clearListHandler()"
          [disabled]="!weatherService.cities.length"
        >
          Clear
        </button>
      </div>
    </div>

    <p class="validation-text">
      {{ weatherService.validationText }}
    </p>
  </div>
</div>
