<div class="search-weather">
  <div class="search-weather__searching">
    <input
      class="form-control"
      [textMask]="{mask: stringMask, guide: false}"
      [formControl]="weatherService.inputValue"
      (keyup.enter)="addCity()"
    />

    <button
      class="btn btn-primary"
      (click)="addCity()"
      [disabled]="!weatherService.inputValue.value"
    >
      Add
    </button>

    <button
      class="btn btn-primary"
      (click)="clearList()"
      [disabled]="!weatherService.cities.length"
    >
      Clear
    </button>
  </div>

  <ng-container *ngIf="weatherService.validationText">
    <p class="validation-text">
      {{ weatherService.validationText | titlecase }}
    </p>
  </ng-container>
</div>
