@import '../../app';

.search-weather {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 1rem;

  .validation-text {
    color: red;
    text-align: center;
    font-size: 1em;
  }

  &__searching {
    @include flex-content;
    flex-wrap: wrap;
    gap: 15px;

    input {
      height: 40px;
      width: 300px;
    }

    button {
      height: 40px;
      width: 100px;
      font-weight: 600;
      background: $primaryColor;
    }
  }
}
